body {
    font-family: sans-serif;
}

table {
  border-collapse: collapse;
  width: 80%;
}


table, th, td {
    border: 1px solid black;
    padding: 4px;
}

#myInput {
  width: 80%;
  font-size: normal;
  padding: 4px 5px 4px 5px; /* Add some padding */
  border: 1px solid #ddd;
  margin-bottom: 12px; /* Add some space below the input */
}
